<<% content_for :container do %>
    <div>
      <div class="row">
        <a class="btn btn-primary btn-atualizar" type="button" onclick="atualizarPesquisa()">Atualizar</a>
      </div>
      <% if @jornais && @jornais['hits'].length > 0 %>
      <div class="col-md-3">
        <div class="row">Ano </div>

        <% (0..@agregacoes['ano']['buckets'].length-1).each do |i|%>
            <div class="row">
              <a class="link-ano" id="link-ano-<%=@agregacoes['ano']['buckets'][i]['key']%>" onclick="alterarFiltros(<%=@agregacoes['ano']['buckets'][i]['key']%>)">
                <%= @agregacoes['ano']['buckets'][i]['key'] %></a>
              (<%= @agregacoes['ano']['buckets'][i]['doc_count'] %>)
            </div>
        <% end %>
        <% if @ano_selecionado %>
            <a href="jornals?termo=<%=@termo%>">Refazer</a>
        <% end %>
      </div>
      <div class="col-md-9">
        <% (0..@jornais['hits'].length-1).each do |i| %>
            <div class="row list-group-item jornal-ano-<%=@jornais['hits'][i]['_source']['ano']%>">
              <div class="col-md-2">
                <div class="row">
                <span><a href="jornals/<%=@jornais['hits'][i]['_id']%>"><%= image_tag(@jornais['hits'][i]['_source']['jornal_thumb'], :class => "img-thumbnail")%></a></span>
                  </div>
                <div class="row">
                <span>Ano: <%= @jornais['hits'][i]['_source']['ano']%></span>
                  </div>
              </div>

              <div class="col-md-10">

                <% (0..@jornais['hits'][i]['highlight']['conteudo'].length-1).each do |j| %>
                    <%= @jornais['hits'][i]['highlight']['conteudo'][j] %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
      </p>
          <% else %>
      <h4>Não foram encontrados resultados com o termo "<b><%= @termo %></b>"</h4>
          <%end%>
    </div>

    <script type="application/javascript">
      var anosList = new Array();
      var precisaAtualizar = false;

      function alterarFiltros(ano){
          if(anosList.length == 0){
              $('.link-ano').css('text-decoration','line-through');
              $('.link-ano').css('opacity','0.4');
              $('.list-group-item').css('display','none');
              anosList.push(ano);
              $('#link-ano-'+ano).css('text-decoration','none');
              $('#link-ano-'+ano).css('opacity','1.0');
              $('.jornal-ano-'+ano).css('display','block');
          }
          else{
              itemIndex = $.inArray( ano, anosList);
              if(itemIndex == -1) {
                  anosList.push(ano);
                  $('#link-ano-'+ano).css('text-decoration','none');
                  $('#link-ano-'+ano).css('opacity','1.0');
                  $('.jornal-ano-'+ano).css('display','block');
              }else{
                  anosList.splice(itemIndex,1);
                  $('#link-ano-'+ano).css('text-decoration','line-through');
                  $('#link-ano-'+ano).css('opacity','0.4');
                  $('.jornal-ano-'+ano).css('display','none');
              }
          }


          precisaAtualizar = true;
      };
            function  atualizarPesquisa(){
                var path = '<%= jornals_path %>';
                Turbolinks.visit( path+'?termo=<%=@termo%>&anosList=' + anosList);
            }


    </script>
<% end %>